@import url(//fonts.googleapis.com/css?family=Vibur);
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
.about-section {
  height: 110vh;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-photo {
  border-radius: 10%;
  height: 400px;
  margin-right: 5vw;
}

.about-information {
  text-align: center;
  position: absolute;
  top: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  margin-top: 5%;
}

.about-description {
  width: 50%;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  color: black;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.project-logo {
  transition: 0.5s;
  cursor: pointer;
  width: 50px;
  transform: scale(1.25);
}
.project-logo.unClicked {
  filter: grayscale(100%);
  transition: 0.5s;
}
.project-logo.unClicked:hover {
  transform: scale(1.1);
  filter: grayscale(50%);
  transition: 0.5s;
}

.contact-section {
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact-information {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}
.contact-options p {
  color: black;
  font-family: "Ubuntu Mono", monospace;
  text-shadow: rgb(126, 126, 126) 0px 0px 5px;
  font-size: larger;
  font-weight: bold;
}
.contact-options img {
  height: 110px;
}

.contact-option {
  margin: 10px;
  margin-right: 30px;
  font-size: 65px;
  color: black;
  transition: 0.5s;
}
.contact-option:hover {
  color: rgb(142, 140, 140);
  transition: 0.5s;
}
.contact-option:active {
  color: rgb(126, 126, 126);
  transition: 0.5s;
}

.name {
  margin-top: 0;
  padding: 0;
  font-size: 125px;
  font-weight: bold;
}

.home-title {
  margin-top: -50px;
  color: rgb(118, 115, 115);
  font-size: 30px;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.home-information {
  cursor: default;
  margin-bottom: 1.5em;
  color: rgb(68, 68, 68);
  font-family: "Ubuntu Mono", monospace;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-button {
  background-color: transparent;
  background-color: rgba(126, 126, 126, 0.134);
  border-radius: 2.5px;
  border: none;
  color: rgb(68, 68, 68);
  font-family: "Ubuntu Mono", monospace !important;
  font-size: 19px;
  transition: 0.5s;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 1%;
}
.nav-button:hover {
  cursor: pointer;
  background-color: rgb(142, 140, 140);
  transition: 0.5s;
}
.nav-button:active {
  cursor: pointer;
  background-color: rgb(126, 126, 126);
  transition: 0.5s;
}

.nav-main {
  display: flex;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  z-index: 999;
  text-align: center;
  margin-left: 61vw;
}

.navigation-link {
  background-color: transparent;
  border-radius: 2.5px;
  border: none;
  color: rgb(68, 68, 68);
  font-family: "Ubuntu Mono", monospace !important;
  font-size: 19px;
  transition: 0.5s;
  margin-left: 15px;
  margin-right: 15px;
}
.navigation-link:hover {
  cursor: pointer;
  background-color: rgb(142, 140, 140);
  transition: 0.5s;
}
.navigation-link:active {
  cursor: pointer;
  background-color: rgb(126, 126, 126);
  transition: 0.5s;
}

.project-title {
  text-align: center;
  font-size: large;
  transform: scale(2);
}
.project-title.photo {
  font-size: 12px;
}
.project-photo {
  margin-left: 15px;
  margin-right: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.project-photo img {
  width: 400px;
  cursor: pointer;
}

.project-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.project-tagline {
  margin-bottom: 5px;
}

.project-features {
  margin-bottom: 10px;
}

.project-link {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 47.5px;
  color: black;
}

.madewidth {
  display: flex;
  flex-direction: column;
}

.project-display {
  margin: 2.5px 0px 20px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  left: 50;
}
.project-display.images {
  margin-top: 15px;
}
.project-display img {
  margin-right: 3%;
}

.projects-section {
  height: 110vh;
}

.project-header {
  font-family: "Ubuntu Mono", monospace;
  color: transparent;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0px;
}

.project-options {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
.project-options button {
  background: transparent;
  outline: none;
  border: none;
}

.tech-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tech-information {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tech-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
}
.tech-tools p {
  color: black;
  font-family: "Ubuntu Mono", monospace;
  font-size: larger;
  font-weight: bold;
}
.tech-tools img {
  height: 110px;
}

.tech-title {
  margin-bottom: 30px;
  font-family: "Ubuntu Mono", monospace;
  color: black;
  text-align: center;
  margin: 20px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: wheat !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 100vw !important;
  overflow-x: hidden;
}

.port-section {
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -webkit-transform 0.5s;
  -o-transition: -webkit-transform 0.5s;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(75, 75, 75);
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(200, 200, 200);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(171, 170, 170);
}/*# sourceMappingURL=index.css.map */